body {
  margin: 0;
  padding: 0;
}

header {
  height: auto;
  width: auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(0, 64, 128);
}

.section {
  width: auto;
  height: 100%;
  padding: 16px 32px;
  margin: 32px 7.5% 32px 7.5%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: rgb(0, 64, 128);
  color: white;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: center;
}

#btnlogout {
  display: none;
}

#btnlogin {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

  .table-wrap {
    max-width: 100%;
    margin: 16px auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

  table {
    width: auto;
    border-collapse: collapse;
    table-layout: auto;
  }

  thead th {
    background: #f2f2f2;
    font-weight: 600;
    text-align: center;
    border: 1px solid #cfcfcf;
    padding: 8px 12px;
    white-space: wrap;
  }

  tbody td {
    border: 1px solid #e0e0e0;
    padding: 8px 12px;
    white-space: wrap;
  }

 .ecors-dialog {
  border: none;
  border-radius: 7px;
  padding: 1.5em 2em;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  background: white;
  width: 300px;
}
.ecors-dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}
.dialog-content p {
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
}
.button-container{
  display: flex;
  justify-content: flex-end;
}
.button-container button {
  background-color: #3764f7;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin: 15px;
  cursor: pointer;
}
.button-container button:hover {
  background-color: #2741c1;
  transition: 0.25s;
}

.button-container a {
  color: white;
  font-size: 14px;
  
}

